*{
    margin: 0;
    padding: 0;
    font-weight: 200;
}
body {
    background-color: rgb(233, 233, 233);
}
#title {
    display: grid;
    margin: 0;
    padding: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 300px;
    color: #fff;
    text-align: center;
    align-items: center;
    font-weight:bold;
    background-image: url('../background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
img {
    width: 100%;
    margin: 10px 0p 10px 0px;
}
#content {
    opacity: 0;
    margin: -100px auto;
    width: 700px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px rgb(187, 187, 187);
    background-color: rgb(255, 255, 255);
}
#content #Article,#Articlefooter {
    padding: 0px 50px 0px 50px;
}
#content a {
    display: inline-block;
    text-decoration: none;
    color: #000;
}
#content a div {
    transition: 0.5s;
    display: inline-block;
    opacity: 0;
    position: relative;
    width: 100%;
    height: 3px;
    background-color: #0085a1;
    margin-top: 2px;
    margin-left: -300px;
}
#content p a {
    color: rgb(52, 140, 241);
    border-bottom: 1px solid #000;
}
#content p {
    overflow: auto;
}
#content a:hover div{
    opacity: 1;
    margin-left: 0px;

}
#ArticleText p{
    margin: 10px 0px 10px 0px;
}
#ArticleTitle {
    margin: 20px 0px 10px 0px;
}
#Article {
    margin: 20px 0px 20px 0px;
}
#ArticleText hr{
    margin: 20px 0px 20px 0px;
}
#ArticleText h1,
#ArticleText h2,
#ArticleText h3,
#ArticleText h4,
#ArticleText h5,
#ArticleText h6 {
    margin: 15px 0px 15px 0px;
}   
#ArticleText li {
    margin-left: 25px;
}
hr {
    background-color: rgb(214, 214, 214);
}
#search {
    opacity: 0;
    position: fixed;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 500px;
    top: 50px;
    left: -920px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#search #site_search {
    width: 100%;
}
#search #site_search .search-result-list {
    list-style: none;
}
#search #site_search .search-result-list li{
    margin: auto;
    margin-top: 10px;
    width: 270px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px #a7a7a7;
    background-color: rgb(255, 255, 255);
}
#search #site_search .search-result-list li a{
    color: #0085a1;
    font-size: 18px;
    padding-bottom: 10px;
    height: 80px;
}
#search #site_search .search-result-list p{
    font-size: 12px;
    overflow: hidden;
}
#local-search-input {
    display: block;
    width: 300px;
    height: 30px;
    color: #575757;
    border-radius: 10px;
    border: 1px solid #9c9c9c;
    padding: 5px;
    margin: auto;
    font-size: 18px;
    box-shadow: 0px 0px 10px 0px #a7a7a7;
}
#local-search-result {
    height: 700px;
    opacity: 0;
}
#local-search-result ul {
    height: 100%;
    overflow: auto;
}
#Menu {
    opacity: 0;
    position: fixed;
    top: 1080px;
    right: 280px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px rgb(187, 187, 187);
    background-color: rgb(255, 255, 255);
    text-align: center;
    line-height: 50px;
}
#Menu ul li{
    font-size: 16px;
    border-bottom:1px solid rgb(219, 219, 219);
}
#Menu ul li p {
    width: 0px;
    height: 1px;
    background-color: #0085a1;
    transition: 1s;
}
#Menu ul li:hover p {
    transition: 1s;
    width: 100%; 
}
#Menu ul li:hover {
    transition: 0.3s;
    font-size: 18px;
}
#Menu ul li:nth-last-child(1) p {
    height: 2px;
}
#Menu ul:nth-child(1) {
    border-top: 1px solid rgb(219, 219, 219);
}
#Menu * {
    text-decoration: none;
    color: rgb(114, 114, 114);
    list-style: none;
}
#about div {
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(219, 219, 219);
}
#about div a {
    display: inline-block;
    width: 33px;
    height: 33px;
    border-radius: 10px;
    margin: 5px;
    border: 1px solid #a0a0a0;
    transition: 1s;
    background-color: rgb(22, 73, 88);

    /* box-shadow: 0px 2px 10px 0px #c4c4c4; */
}
#about div a:hover {
    background-color: #0085a1;
}
#about div a i {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: scale(1.5);
}
#about a img {
    height: 100%;
}
#Articlefooter {
    position: relative;
    display: inline-block;
    width: 85%;
    background-color: #fff;
    padding-bottom: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#previous {
    float: left; 
} 
#next {
    float: right; 
}
figure {
    width: 100%;
    overflow: auto;
}
figure * {
    font-size: 15px;
}
figure table {
    width: 100%;
}

.gutter {
    display: none;   
}
pre {
    border: 1px solid #000;
    margin: 20px 0px 20px 0px;
    padding: 10px 0px 10px 10px;
    background-color: rgb(233, 233, 233);
    font-size: 15px;
}

code {
    font-size: 15px;
    font-weight: 300;
    background-color: #f9f2f4;
    color: #c7254e;
}

.tag-text {
    display: block;
    font-size: 22px;
    margin: 20px 0px 10px 0px;
    color: rgb(0, 0, 0);
    margin-left: 20px;
    font-weight: 800;
}
.post-preview {
    border-bottom: 1px solid rgb(223, 223, 223);
    font-size: 12px;
}
.post-preview a h2 {
    color: rgb(22, 73, 88);
    padding-left: 20px;
}
.post-preview hr {
    color: rgb(214, 214, 214);
    margin: 0;
    padding: 0;
}
#archiveTage {
    font-size: 18px;
    margin-left: 40px;
    margin-top: 20px;
    border-bottom: 1px solid rgb(192, 192, 192);
}
#comment {
    opacity: 0;
    width: 700px;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 20px 1px rgb(187, 187, 187);
    background-color: rgb(255, 255, 255);
    z-index: 1;
}
table {
    width: 100%;
    
}
table th {
    border-radius: 5px;
}
table thead tr th{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    border: 1px solid #000;
}
table tbody tr td{
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 15px;
    border: 1px solid #000;
}
table thead {
    color: rgb(19, 19, 19);
}

figure table tbody tr td,figure thead tbody tr th{
    font-size: 16px;
    border: 0px;
    padding: 0;
    margin: 0;
    border-radius: 0px;
}
#categorieTage {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 30px;
    background-color: #0085a1;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    margin: 5px;
    box-shadow: 0px 0px 5px 0px rgb(180, 180, 180);
}
#content #Article #ArticleText #categorieTage {
    color: #fff;
}
#MobileHead {
    right: 10px;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: #ffffff;
    font-size: 20px;
    z-index: 3;
}
#MobileHead ul {
    display: none;
    position: absolute;
    top: 50px;
    right: 33px;
    width: 0px;
    height: 0px;
    list-style: none;
    background-color: #fff;
    box-shadow: 0px 2px 10px 0px #adadad;
}
#MobileHead ul li a {
    font-size: 14px;
    color: rgb(126, 126, 126);
    text-decoration: none;
    opacity: 0;
}
#MobileHead ul li {
    display: grid;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
    
}
#MobileHead:hover {
    color: black;
}
#MobileSearch {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color:#fff;
    z-index: 5;
    overflow: auto;
}
#MobileSearch #MSbutton {
    position: fixed;
    right: 0px;
    bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: #000000;
    font-size: 35px;
    z-index: 3;
}  
#MobileSearch #local-search-input2 {
    position: relative;
    display: block;
    width: 80%;
    height: 30px;
    color: #575757;
    border-radius: 10px;
    border: 1px solid #9c9c9c;
    padding: 5px;
    margin: auto;
    font-size: 18px;
    box-shadow: 0px 0px 10px 0px #a7a7a7;
    margin-top: 10px;
}
#MobileSearch #local-search-result2 {
    position: relative;
    display: black;
    margin: auto;
    width: 80%;
}
#MobileSearch #local-search-result2 ul {
    height: 100%;
    list-style: none;

}
#MobileSearch #local-search-result2 ul li {
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #b1b1b1;


}
#MobileSearch #local-search-result2 ul li p{
    padding: 5px;
    overflow: auto;
}
#MobileSearch #local-search-result2 ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #0085a1;
    padding: 5px;


}

@media all and (max-width:1680px) {
    #Menu {
        opacity: 0;
        display: none;
    }
    #search {
        opacity: 0;
        display: none;
    }
    #MobileHead {
        display: grid;
    }
    #content {
        width: 100%;
        border-radius: 0px;
    }
}
@media all and (max-width:750px) {
    #MobileHead {
        display: grid;
    }
    #content {
        width: 100%;
        border-radius: 0px;
    }
    #title {
        height: 250px;
        border-radius: 0px;
    }
    #content #Article,#Articlefooter {
        padding: 0px 20px 0px 20px;
    }
}
@media all and (max-width: 450px){
    #content #Article #ArticleText table * {
        font-size: 12px;
    }
    body{
        font-size: 12px;
    }
    #archiveTage {
        font-size: 14px;
    }
    #categorieTage {
        width: 80px;     
        height: 25px;
        font-size: 12px;
        border-radius: 5px;
    }
    .post-preview a .post-title  {
        font-size: 16px;
    }
    pre span {
        font-size: 12px;
    }
}